<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Tutorial</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src= {{ url_for('static', filename = "js/jquery.min.js") }}></script>
		<script src= {{ url_for('static', filename = "js/skel.min.js") }}></script>
		<script src= {{ url_for('static', filename = "js/skel-layers.min.js") }}></script>
		<script src= {{ url_for('static', filename = "js/init.js") }}></script>

		<link rel="stylesheet" href="{{ url_for('static', filename = "css/skel.css") }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename = "css/style.css") }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename = "css/style-xlarge.css") }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong>EXCISION 2</strong> by Jessime Kirk</h1>
				<nav id="nav">
					<ul>
						<li><a href="{{ url_for('index')}}">Home</a></li>
						<li><a href="{{ url_for('story')}}">Story</a></li>
						<li><a href="{{ url_for('about')}}">About</a></li>
        					<li><a href="{{ url_for('launch')}}">Launch</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Tutorial</h2>
                        <p>A brief walkthrough of usage.</p>
                    </header>

					<a href="#" class="image fit"><img src={{ url_for('static', filename = 'images/pic02.jpg') }} alt="" /></a>
					<p>
                             The tasks that follow should give you an introduction to how to progress through levels.
                             Each of these should take anywhere from a few seconds to a few minutes.
                             If you're having difficulty with something, feel free to submit an <a href="https://github.com/Jessime/Excision/issues">issue on Github</a>.
                             If you're repeatedly having with these tasks, it might be worthwile to pause for a bit and refresh your basic Python skills before moving on with Excision.
                             We'll walk through our hello_world.py example together, then they'll be some practice problems for you to try.
                             </p>
                        <H2>1. Hello World!</H2>
                        <p>Imagine you're given the following task:</p>
                        <blockquote>
                            <b>Problem:</b><br>
                            Create a program that writes "Hello World!" to Excision/results/tutorial/hello.txt (without the quotes, but with a newline character).
                        </blockquote>
                        <p>
                            Take a second to make sure you could do that.
                            You need to know where you installed Excision and how to write to a file.
                            Virtually all of the programs you write will dump their output to the Excision/results directory.
                            <a href="https://github.com/Jessime/Excision/blob/master/examples/hello_world.py">Here's how I accomplished the task.</a>
                            Notice that I'm using UNIX paths.
                            I'll continue that convention throughout Excision.
                            If you're on Windows, make sure to use Windows paths.
                            The bioinformatics equivalent of "Hello World!" is finding GC content...</p>
                        <H2>2. Submitting Scripts</H2>
                        Try completing this problem:
                        <blockquote>
                            <b>Problem:</b><br>
                            Create a program that takes a nucleotide sequence as an arguments and writes the GC content to Excision/results/tutorial/gc.txt to the nearest whole percent. <br><br>
                            <b>Example:</b> <br>
                            <code>$ ./gc_calc.py ATATGCGC</code><br><br>
                            <b> Result:</b><br>
                            50%
                        </blockquote>
                        <p>
                            Once you've written this script, you can test it out with the 'Submit' button.
                            Just to see what happens, you should make sure to submit an incorrect script first.
                        </p>
        				<form action="" method="post">
        					<input type="submit" value="Submit" class="special" name="tutorial_gc">
                                 {% if syntax_error1 is not none%}
                                     <div>
                                         <p>Unfortunately, your code didn't finish running. The error was:
                                         <pre><code>{{syntax_error1}}</code></pre></p>
                                    </div>
                                {% endif %}

                                 {% if semantics_error1 is not none %}
                                     <div>
                                         <p>Your code finished running, but it doesn't appear to have worked properly.
                                         <pre><code>{{semantics_error1}}</code></pre></p>
                                    </div>
                                 {% endif %}
        				</form>
                        <H2>3. Hints</H2>
                        <p>
                            Besides a submit button, the other thing you'll see at each question are hint(s).
                            Hint's will give you little prompts on how to go about solving the problem at hand.
                            Hints aren't free though.
                            Each hint will require you to solve a secondary problem.
                            These problems will be small, generally just a few of lines of code.
                            So, it'll be up to you whether you think taking the time to solve the hint is worthwhile.
                            In general, the hints are less likely to be strictly bioinformatics related.
                            Instead, they'll focus on introducing you to new parts of Python and its ecosystem that might come in handy farther down the road.
                            <br><br>
                            Let's try another problem.
                            This one is a bit harder, so it might be worthwhile to solve the hints.
                            Even if you know how to solve this task, take a second to make sure you know what to expect from hints.
                        </p>
                        <hr />
                        <p>
                            <b>Task:</b> Write a function called <code>squared_sum</code>.
                            It should take a list as a parameter and returns a float.
                            <code>squared_sum</code> should find the sum of squares of the list.
                        </p>
                        <form action="" method="post">
                            <input type="submit" value="Hint #1" class="button" name="tutorial_hint1">
                        </form>
                        {% if hint_solved1 %}
                        <p>
                            This is a multi-part hint:
                            <ol>
                                <li>
                                    Notice the form of this task, as opposed to the main questions.
                                    Code for hints will generally require you to write a function instead of a script.
                                </li>
                                <li>
                                    Besides the concept of hints, the second purpose of this question is to introduce you to the concept of using modules.
                                    You can easily without importing anything. But the line <code>import numpy as np</code> will make the question significantly easier.
                                    You'll want to import some module in virtually every follwoing question.
                                </li>
                            </ol>
                        </p>
                        {% endif %}
                        <hr />
                        <p>
                            <b>Task:</b> Write a function called <code>seen</code>.
                            It should take two lists as parameters and return a third list.
                            The returned list should contain only the unique items in the second list.
                            That is, the elements that are in the second list but not the first list.
                            If there are redundant items in the second list (i.e. [1, 1]), only include that item in the third list once.
                        </p>
                        <form action="" method="post">
                            <input type="submit" value="Hint #2" class="button" name="tutorial_hint1">
                        </form>
                        {% if hint_solved2 %}
                        <p>
                            We'll introduce other ways to read data files, but numpy provides some basic help.
                            Read up on <a href="https://docs.scipy.org/doc/numpy/reference/generated/numpy.loadtxt.html"><code>np.loadtxt</code></a> to get your data as an array.
                            Once you have the array, you have access to the power of numpy.
                            There are a lot of things which can be done with arrays.
                            Some of the most common features are well introduced in the <a href="https://docs.scipy.org/doc/numpy/user/quickstart.html">quickstart</a> of the offical numpy documentation.
                            The function that will help you most at the moment is <a href="https://docs.scipy.org/doc/numpy/reference/generated/numpy.sum.html#numpy.sum"><code>sum</code></a>.
                        </p>
                        {% endif %}
                        <hr />
                        <blockquote>
                            <b>Problem:</b><br>
                            Create a program that reads a csv file of numbers.
                            Find the largest sum of any row or column.
                            Write the result, to the nearest integer, in Excision/results/tutorial/sum.txt.<br><br>
                            <b>Notes:</b><br>
                            The correct answer is guaranteed to be unique.
                            So you don't have to worry about dealing with a tie.
                            <br>
                            <br>
                            <b>Example:</b> <br>
                            Contents of /path/to/numbers.csv:
                            <br>
                                5,1,8,7<br>
                                4,5,7,8<br>
                                8,7,1,6<br>
                                3,7,6,8<br>
                            <br>
                            <br>
                            <code>$ ./row_col_max.py /path/to/numbers.csv</code><br><br>
                            <b> Result:</b><br>
                            29
                        </blockquote>
                        <form action="" method="post">
                            <input type="submit" value="Submit" class="special" name="tutorial_sum">
                        </form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>
