<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Spatial by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src= {{ url_for('static', filename = "js/jquery.min.js") }}></script>
		<script src= {{ url_for('static', filename = "js/skel.min.js") }}></script>
		<script src= {{ url_for('static', filename = "js/skel-layers.min.js") }}></script>
		<script src= {{ url_for('static', filename = "js/init.js") }}></script>

		<link rel="stylesheet" href="{{ url_for('static', filename = "css/skel.css") }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename = "css/style.css") }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename = "css/style-xlarge.css") }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong>EXCISION 2</strong> by Jessime Kirk</h1>
				<nav id="nav">
					<ul>
						<li><a href="{{ url_for('index')}}">Home</a></li>
						<li><a href="{{ url_for('story')}}">Story</a></li>
						<li><a href="{{ url_for('about')}}">About</a></li>
						<li><a href="{{ url_for('tutorial')}}">Tutorial</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Tutorial</h2>
						<p>A brief walkthrough of usage.</p>
					</header>

					<a href="#" class="image fit"><img src={{ url_for('static', filename = 'images/pic02.jpg') }} alt="" /></a>
					<p>The tasks that follow should give you an introduction to how to progress through levels. Each of these should take anywhere from a few seconds to a few minutes. If you're having difficulty with something, feel free to submit an <a href="https://github.com/Jessime/Excision/issues">issue on Github</a>. If you're repeatedly having with these tasks, it might be worthwile to pause for a bit and refresh your basic Python skills before moving on with Excision. We'll walk through our hello_world.py example together, then they'll be some practice problems for you to try.</p>
                    <H2>Hello World!</H2>
                    <p>Imagine you're given the following task:</p>
                    <blockquote> Create a program that writes "Hello World!" to Excision/results/tutorial/hello.txt (without the quotes, but with a newline character).</blockquote>
                    <p>Take a second to make sure you could do that. You need to know where you installed Excision and how to write to a file. Virtually all of the programs you write will dump their output to the Excision/results directory. <a href="https://github.com/Jessime/Excision/blob/master/examples/hello_world.py">Here's how I accomplished the task.</a> Notice that I'm using UNIX paths. I'll continue that convention throughout Excision. If you're on Windows, make sure to use Windows paths. The bioinformatics equivalent of "Hello World!" is finding GC content...</p>
                    <H2>GC Content</H2>
                    Try this:
                    <blockquote>
                        Create a program that takes a nucleotide sequence as an arguments and writes the GC content to Excision/results/tutorial/gc.txt to the nearest whole percent. <br><br>
                        <b>Example:</b> <br>
                        $ ./gc_calc.py ATATGCGC<br><br>
                        <b> Result:</b><br>
                        50%
                    </blockquote>
                    <p>Once you've written this script, you can test it out with the 'Submit' button. Just to see what happens, you should make sure to submit an incorrect script first.</p>
				<form action="" method="post">
					<input type="submit" value="Submit" class="special" name="tutorial_gc">
				</form>
				<form action="" method="post">
					<input type="submit" value="Submit" class="special" name="tutorial2">
				</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>
